    <web-app>  
      
    <servlet>  
    <servlet-name>EcommerceServlet</servlet-name>  
    <servlet-class>com.absyz.core.EcommerceServlet</servlet-class>  
    </servlet>  
      
    <servlet-mapping>  
    <servlet-name>EcommerceServlet</servlet-name>  
    <url-pattern>/EcommerceServlet</url-pattern>  
    </servlet-mapping>  
      
    </web-app>  